!!! 5
/[if lt IE 7]   <html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7" lang="en-us">
/[if IE 7]      <html class="no-js lt-ie10 lt-ie9 lt-ie8" lang="en-us">
/[if IE 8]      <html class="no-js lt-ie10 lt-ie9" lang="en-us">
/[if IE 9]      <html class="no-js lt-ie10 lt-ie9" lang="en-us">
/[if lt IE 10]  <html class="no-js lt-ie10" lang="en-us">
/[if !IE]>
%html{lang: I18n.locale, class: 'no-js'}
  /<![endif]
  %head
    %title #{data.page.title || 'an odd juxtaposition'}
    %meta(http-equiv="content-type" content="text/html" charset="utf-8")
    %meta(http-equiv="x-ua-compatible" content="ie=edge,chrome=1")
    %meta{ name: :description, content: 'The Art & Blog of Lindsey Jones' }
    %meta{ name: :author, content: 'Lindsey Jones @mrsnthj' }

    -# Standard viewport tag to set the viewport to the device's width,
    -# Android 2.3 devices need this so 100% width works properly and
    -# doesn't allow children to blow up the viewport width
    %meta{content: "initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width", name: "viewport"}

    -# Fix for iPhone 5 fullscreen web apps
    %meta(name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1" media="(device-height: 568px)")
    %meta(name='apple-mobile-web-app-capable' content='yes')
    %meta(name='apple-mobile-web-app-status-bar-style' content='translucent-black')

    -# App Icons
    / %link(rel="shortcut icon" href="/images/favicon.ico")
    / %link(rel="apple-touch-icon-precomposed" href="/images/apple-touch-icon-precomposed.png")
    / %link(rel="apple-touch-icon-precomposed" sizes="57x57" href="/images/apple-touch-icon-57x57-precomposed.png")
    / %link(rel="apple-touch-icon-precomposed" sizes="72x72" href="/images/apple-touch-icon-72x72-precomposed.png")
    / %link(rel="apple-touch-icon-precomposed" sizes="114x114" href="/images/apple-touch-icon-114x114-precomposed.png")

    -# Stylesheets
    = stylesheet_link_tag 'application'

  %body{class: body_classes}
    %header
      %a(href='/') an odd juxtaposition
    %nav
      /%a(href='/about/') About
      /%a(href='/artwork/') Artwork
      /%a(href='/photography/') Photography
      /%a(href='/store/') Store

    %aside
      %p
        Welcome to the Wildstead! 
    
      %p
        Every time I&#8217;ve blogged in the past it&#8217;s been with
        some pretense, some holding back, and some 
        &#8216;keeping up appearances.&#8217; But now, this is me: the good,
        the bad, and the unusual.

      %p
        So hi, I&#8217;m Lindsey. I&#8217;m wildly in love with my Mad Scientist
        husband, and my Wild Tornado munchkin. I&#8217;m sarcastic, genuine,
        and sometimes I slip a curseword. My life is an adventure 
        of contradictions.

      %p
        I&#8217;m an artist, and super insecure about it. Working on that.
        I&#8217;m an unconventional Christian, which I&#8217;ll ramble about 
        occasionally. I&#8217;m weirdly fascinated by Meyers-Briggs 
        (I&#8217;m an INFJ, if you were wondering.) 

      %p
        I like real whole foods, and really good bourbon. I like regency era
        romance novels and giant textbooks about biomechanics. I&#8217;m an 
        amateur barista and mixologist, and I&#8217;m working towards my 
        certification to be a Restorative Exercise coach. (For admittedly nerdy,
        selfish purposes.)

      %p 
        So, brew a coffee, I&#8217;m probably joining you&#8217;and
        dive in if you dare. I&#8217;m an acquired taste. (Really, ask my mom)
        You&#8217;ve been warned.

      = image_tag '/images/aside.jpg'
      
      %h2 Categories

      %ul
        - blog.articles.group_by(&:tags).keys.flatten.uniq.sort.each do |tag|
          %li
            %a{ href: tag_path(tag) }= tag.titleize
        

    #content= yield
    = javascript_include_tag 'application'
    - if build?
      :javascript
        rasterize = {};
        rasterize.api_key = "bbe8544e210b8d133b348cd5e12096ae1e8e898a";
      %script(async src="https://static.rasterize.io/rasterize.js")
